/* src/styles/Form.css */

/* Estilos generales del formulario */
.form-container {
    background-color: var(--Seychelle-Islands-1);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    font-size: 0.9rem;
    color: var(--Seychelle-Islands-5);
}

.form-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-header h2 {
    font-size: 1.5rem;
    color: var(--Seychelle-Islands-5);
}

/* Estilos de los campos del formulario */
.input-group {
  display: flex;
  align-items: center; /* Alinea los elementos verticalmente */
  margin-bottom: 15px; /* Espaciado entre los campos */
}

.input-group input {
  flex: 1; /* Hace que el campo de entrada ocupe el espacio disponible */
  padding: 10px;
  font-size: 16px;
  margin-left: 8px; /* Añade espacio entre el icono y el campo de entrada */
}

.input-group select {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-left: 8px;
}

.input-group .fa {
  font-size: 20px; /* Tamaño del icono */
  color: #888; /* Color de los iconos */
}

/* Mensajes de error debajo de cada campo */
.info-error {
    margin-top: 0.5rem;
    color: var(--Seychelle-Islands-5);
    font-size: 0.8rem;
}

/* Estilos del botón */
.form-container button {
    background-color: var(--Seychelle-Islands-4);
    color: var(--Seychelle-Islands-1);
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

.form-container button:hover {
    background-color: var(--Seychelle-Islands-3);
}

.form-container button:active {
    background-color: var(--Seychelle-Islands-2);
}

.success-message {
    color: #28a745;
    text-align: center;
    margin-top: 1rem;
}