/* src/styles/Form.css */

/* Estilos generales del formulario */
.form-container {
    background-color: var(--Seychelle-Islands-1);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    font-size: 0.9rem;
    color: var(--Seychelle-Islands-5);
}

.form-header {
    text-align: center;
    margin-bottom: 1.5rem;
}

.form-header h2 {
    font-size: 1.5rem;
    color: var(--Seychelle-Islands-5);
}

/* Estilos de los campos del formulario */
.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.input-group label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--Seychelle-Islands-5);
}

.input-group input {
    padding: 0.75rem;
    border: 1px solid var(--Seychelle-Islands-3);
    border-radius: 4px;
    background-color: var(--input-bg);
    /* Cambiar el color de fondo del input */
    transition: border-color 0.3s, background-color 0.3s;
    box-sizing: border-box;
    font-size: 1rem;
    color: var(--input-text);
    /* Color del texto en el input */
}

/* Colores de los campos para diferenciarlos del fondo */
.input-group input {
    background-color: #f4f8ff;
    /* Color claro para el campo */
    border-color: #3a74d6;
    /* Borde azul suave para mejor visibilidad */
    color: #333;
    /* Texto en color oscuro */
}

.input-group input:focus {
    border-color: #2979ff;
    /* Borde azul más fuerte al hacer foco */
    background-color: #e7f0ff;
    /* Cambiar el fondo al hacer foco */
    outline: none;
}

/* Mensajes de error debajo de cada campo */
.info-error {
    margin-top: 0.5rem;
    color: var(--Seychelle-Islands-5);
    font-size: 0.8rem;
}

/* Estilos del botón */
.form-container button {
    background-color: var(--Seychelle-Islands-4);
    color: var(--Seychelle-Islands-1);
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1rem;
}

.form-container button:hover {
    background-color: var(--Seychelle-Islands-3);
}

.form-container button:active {
    background-color: var(--Seychelle-Islands-2);
}

.success-message {
    color: #28a745;
    text-align: center;
    margin-top: 1rem;
}