/* src/components/Layout/Footer.css */
.footer {
    background-color: var(--Seychelle-Islands-5);
    color: var(--Seychelle-Islands-1);
    text-align: center;
    padding: 1rem;
    border-top: 1px solid var(--Seychelle-Islands-4);
    margin-top: auto;
    /* Mueve el footer al fondo del contenedor */
}

.footer {
    display: grid;
    grid-template-areas: "left divider right";
    grid-template-columns: 1fr 1px 2fr;
    /* Ancho de las columnas */
    background: var(--Seychelle-Islands-3);
    /* Fondo diferenciado */
    padding: 1rem;
    color: var(--Seychelle-Islands-5);
    /* Color de texto */
    border-top: 1px solid var(--Seychelle-Islands-4);
    /* Línea superior */
    font-size: 0.875rem;
    /* Tamaño de fuente más pequeño */
}

.footer-left {
    grid-area: left;
    text-align: left;
    /* Alinear a la izquierda */
}

.footer-right {
    grid-area: right;
    text-align: right;
    /* Alinear a la derecha */
    padding-left: 1rem;
}

.footer-divider {
    background: var(--Seychelle-Islands-1);
    /* Línea blanca */
    width: 1px;
    height: 100%;
    margin: 0 1rem;
}

.whatsapp-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.subscription-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinear elementos a la derecha */
    max-width: 300px;
    /* Ajustar ancho máximo del formulario */
    margin: 0 auto;
    /* Centrar el formulario horizontalmente */
}

.subscription-form input {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--Seychelle-Islands-4);
    border-radius: 4px;
    width: 100%;
    /* Ajustar al ancho del contenedor */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Animación */
}

.subscription-form input:focus {
    background-color: var(--Seychelle-Islands-2);
    transform: scale(1.05);
}

.subscription-form button {
    padding: 0.5rem;
    background: var(--Seychelle-Islands-5);
    color: var(--Seychelle-Islands-1);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    /* Ajustar al ancho del contenedor */
    transition: background-color 0.3s ease;
}

.subscription-form button:hover {
    background: var(--Seychelle-Islands-4);
}

.social-icons {
    display: flex;
    gap: 1rem;
    /* Espaciado más amplio entre iconos */
    justify-content: flex-end;
    /* Alinear iconos a la derecha */
    margin-top: 0.5rem;
    /* Espaciado arriba de los iconos */
}

.social-icon {
    width: 32px;
    /* Tamaño aumentado de los íconos */
    height: 32px;
    color: var(--Seychelle-Islands-5);
    transition: color 0.3s ease;
}

.social-icon:hover {
    color: var(--Seychelle-Islands-2);
    /* Cambiar color al pasar el ratón */
}