/* Header.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--Seychelle-Islands-5);
    color: var(--Seychelle-Islands-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 6rem;
    z-index: 1000;
    font-size: 0.9rem;
    box-sizing: border-box;

    /* Sombra tenue en la parte inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Crear un pequeño margen superior para el contenido de la página */
.main-content {
    padding-top: calc(1.5rem + 10px);
    /* Ajustar según el padding del header */
}

.header-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header h1 {
    margin: 0;
    font-size: 1.2rem;
    /* Reducir el tamaño de la fuente del título */
}

.header-buttons button {
    background-color: var(--Seychelle-Islands-4);
    color: var(--Seychelle-Islands-1);
    border: none;
    border-radius: 4px;
    padding: 0.3rem 0.8rem;
    /* Reducir el padding de los botones */
    margin-left: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
    /* Ajustar el tamaño de la fuente de los botones */
}

.header-buttons button:hover {
    background-color: var(--Seychelle-Islands-3);
}

.header-buttons button:focus {
    outline: none;
}