#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-content {
    padding-top: calc(1.5rem + 10px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    padding: 1rem 10px;
    box-sizing: border-box;
}

.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    height: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
}

.content {
    margin-left: 70px;
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    text-align: left;
    background-color: var(--background-color);
}
