/* Paleta de Colores */
.Seychelle-Islands-1-hex {
    color: #FAEDDA;
}

.Seychelle-Islands-2-hex {
    color: #AEE8CA;
}

.Seychelle-Islands-3-hex {
    color: #6ACFC9;
}

.Seychelle-Islands-4-hex {
    color: #26B6C6;
}

.Seychelle-Islands-5-hex {
    color: #3C2F80;
}

.Seychelle-Islands-bg-1 {
    background-color: rgba(249, 237, 218, 0.5);
}

.Seychelle-Islands-bg-2 {
    background-color: rgba(174, 232, 202, 0.5);
}

.Seychelle-Islands-bg-3 {
    background-color: rgba(105, 207, 200, 0.5);
}

.Seychelle-Islands-bg-4 {
    background-color: rgba(38, 182, 198, 0.5);
}

.Seychelle-Islands-bg-5 {
    background-color: rgba(59, 47, 128, 0.5);
}