/* Sidebar.css */
.sidebar {
    width: 60px;
    /* Ancho por defecto */
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(59, 47, 128, 0.5);
    transition: width 0.3s ease, background-color 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar:hover {
    width: 200px;
    /* Ancho visible al pasar el mouse */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar li {
    padding: 20px;
    text-align: right;
    width: 100%;
}

.sidebar a {
    color: #FAEDDA;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar a .text {
    margin-left: 10px;
    display: none;
    /* Ocultar el texto por defecto */
}

.sidebar:hover a .text {
    display: inline;
    /* Mostrar el texto al pasar el mouse */
}

.sidebar a:hover {
    color: #AEE8CA;
    /* Cambio de color al pasar el mouse */
}

.sidebar .icon {
    font-size: 1.5em;
}

@media (max-width: 768px) {
    .sidebar {
        width: 40px;
        /* Ancho más pequeño en dispositivos móviles */
    }

    .sidebar:hover {
        width: 150px;
        /* Ancho visible al pasar el mouse en dispositivos móviles */
    }
}

/* Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-content {
    display: flex;
    margin-left: 60px;
    /* Ajusta el margen para dar espacio al sidebar */
    padding: 1rem;
    flex: 1;
}

.content {
    flex: 1;
}